.wrapper {
background: #ece89d;
display:flex;
flex-direction:column;
height: 1819px;
width: 1278px;
}
.head {
	background: #5e5373;
	height: 34%;
	display:flex;
	flex-direction:column;
}
.header {
	height: 53%;
	padding: 3% 3% 0%;
	display:flex;
	background-color: #445161;
}
.hi {
	width: 50%;
	height: 100%;
	font-family: Arial;
}
.hi h1{
font-size: 60px;
line-height: 1.2;
font-weight: 400;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;
}
.hi li{
font-size: 20px;
line-height: 36px;
font-weight: 400;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;
background: url('../resources/check.png') left no-repeat;
padding-left: 35px;
}
.freelancer {
	width: 50%;
	height: 100%;
}
.freePicture{
	position: relative;
}
.freePicture img{
	position: absolute;
	top: 0;
	right: 0;
}
.up {
	padding: 3% 3% 0%;
	background: #ffffff;
	height: 47%;
	display: flex;
}
.flexPicture {
	width: 41%;
	height: 100%;
	position: relative;
}
.flexPicture img{
	position: absolute;
	top: 0;
	left: 0;
}
.flexBox {
	width: 59%;
	height: 100%;
	font-family: Arial;
}
.flexBox h2{
	font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
}
.flexBox p{
width: 93%;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;
}
.flexText{
	margin-bottom: 3%;
}

.middle {
padding: 3% 3% 0%;
display: flex;
flex-direction:column;
align-items: center;
height: 26%;
font-family: Arial;
background: #f5f5f5;
}
.middle h2{
display: block;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
padding-bottom: 5px;

}
.rows{
	margin-top: 2%;
	display: flex;
	flex-wrap:wrap;
}
.wrapperBlock{

	flex: 0 1 50%;
	display: flex;
}

.block{
	padding-right: 3%;
	padding-left: 3%;
}
.block h3{
	font-family: Arial;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
}
.block p{
	font-family: Arial;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;

}
.blockText{
	margin-bottom: 2%;
}

.foot {
	padding: 3% 3% 0%;
	display:flex;
	flex-direction:column;
	height: 40%;
	background: #ffffff;
}
.down {
	flex: 1 1 auto;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.down h2{
display: block;
font-family: Arial;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
}
.columns {
	margin-top: 3%;
	justify-content:space-around;
	height: 100%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	display:flex;
}
.column {
	display:flex;
	width: 300px;
	height: 499px;
	flex-direction:column;
	align-items: center;
	background: #445161;
	border-radius: 2%;
}
.h3{
	text-align: center;
display: block;
width: 100%;
padding: 4% 0%;
font-family: Arial;
font-size: 24px;
line-height: 30px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
background: #445162;
border-radius: 10%;
}
.h4{
text-align: center;
display: block;
padding: 6% 0%;
width: 98%;
font-family: Arial;
font-size: 40px;
line-height: 30px;
font-weight: 400;
color: #445162;
background: #ffffff;
}

.text{
	flex: 1 1 auto;
	display: block;
font-family: Arial;
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #ffffff;
background: #445162;
padding: 7%;
}
.class{
	margin-bottom: 6.5%;
}

button{
	width: 260px;
	height: 40px;
	font-family: Arial;
font-size: 18px;
line-height: 18px;
font-weight: 700;
color: #445161;
	background-color: #ffffff;
	margin-bottom: 5%;
	border-radius: 3%;
}
.footer {
height: 4%;
background-color: #f5f5f5;
font-family: Arial;
font-size: 12px;
line-height: 24px;
font-weight: 400;
letter-spacing: 0.025em;
color: #445162;
position: relative;
}
.footer h3{
	position: absolute;
	top: 50%;
	left: 44%;
}
